.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.form-size {
  width: 75%;
}

.comment-form {
  border: 1px solid #c6c6c6;
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

.center-btn-holder {
  display: flex;
  justify-content: center;
  width: 100%;
}
